[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<5.3,>=4.2"
pillow = ">=10.0"
wordcloud = ">=1.9.3"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.12"
